<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navigation.ejs') %>

<form  method="POST" action="MarketPlace.html" >
       

    <input type="text"  id="pName" placeholder="Product Name">
   


    <input type="text"  id="frName" placeholder="Farm Name">
 


    <input type="text"  id="pPrice" placeholder="Price">
   

    <input type="text" id="imgSource" placeholder="Upload">
       
   
    <button class="submitButton" type="submit" onclick="handleSubmit()">Post</button>

</form>

<%- include('../../partials/footer.ejs') %>
            </body>

            </html>