<!DOCTYPE html>
<html lang="en">
<head>

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="icon" href="logo.png" type="image/png" sizes="16x16">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <style>


        div.gallery {

        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-top: 20px;
        border: 1px solid #ccc;
        float: left;
        width: 360px;
        margin-left: 100px;
        }
        
        div.gallery:hover {

          border: 1px solid #777;
        }
        
        div.gallery img {
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          width: 100%;
          height: auto;
        }
        
        div.desc {
          padding: 15px;
          text-align: left;
        }
        div.post_title , div.witter_name {
            padding: 15px;
            text-align: center;
            font-size: 20px;
        }


        </style>
</head>

<body>

    <div class = "header">
        <div class = "inner_header">
            <div class="logo_container">
                <h1><span>KRISHOK BANGLA</span></h1>
            </div>

            <ul class = "navigation">
                <a><li>HOME</li></a>
                <a><li>MARKETPLACE</li></a>
                <a><li>ORDER</li></a>
                <a><li>BLOG</li></a>
                <a><li>CONTACT</li></a>
                
            </ul>
        </div>
    </div>  

    <div class="gallery">
        <a target="_blank" href="img/1.jpg">
            <img src="img/1.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="witter_name"><p class="p1">Nafis Khan</p></div>
        <div class="post_title"><p class="p3">"CROPS"</p></div>
        <div class="desc"><p class="p2">Bangladesh is an agricultural country . Crop plays an important role in human lives . It produces the food we need to survive . It is also an earning source for the farmers who works hard to harvest them .</p></div>
    </div>
    
   <div class="gallery">
        <a target="_blank" href="img/2.jpg">
            <img src="img/2.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="witter_name"><p class="p1">Nafis Khan</p></div>
        <div class="post_title"><p class="p3">"USES OF MODERN TECHNOLOGY"</p></div>
        <div class="desc"><p class="p2">From the very biggening farming has been manual and has been depending on human works and animals . But now technoly has also involved in it and makde things easier . </p></div>
    </div>
    
    <div class="gallery">
        <a target="_blank" href="img/3.jpg">
            <img src="img/3.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="witter_name"><p class="p1">Nafis Khan</p></div>
        <div class="post_title"><p class="p3">"BEAUTY OF VILLAGE LIFE"</p></div>
        <div class="desc"><p class="p2">Village life is way too different from city life . Life of the people of village is so simple and has less daily life competition . People of village live a simple and had working life . Though hey are playing an important role in economy of our country .</p></div>
    </div>

     <div class="gallery">
        <a target="_blank" href="img/5.jpg">
            <img src="img/5.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="witter_name"><p class="p1">Nafis Khan</p></div>
        <div class="post_title"><p class="p3">"WEATHER"</p></div>
        <div class="desc"><p class="p2">Weather plays an important role in agricultural production. It has a profound influence on crop growth, development and yields . Weather aberrations may cause physical damage to crops and soil erosion .</p></div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img/4.jpg">
            <img src="img/4.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="witter_name"><p class="p1">Nafis Khan</p></div>
        <div class="post_title"><p class="p3">"FARMER'S LIFE"</p></div>
        <div class="desc"><p class="p2">Farmer's live a simple life . They are really hard working . As bangladesh is an agricultural country , they play a important role for us . Even if they are sick , they don't stop working until they can't do it anymore . </p></div>
    </div>


    <div class="gallery">
        <a target="_blank" href="img/6.jpg">
            <img src="img/6.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="witter_name"><p class="p1">Nafis Khan</p></div>
        <div class="post_title"><p class="p3">"FARMER'S MARKETPLACE"</p></div>
        <div class="desc"><p class="p2">Farmer's life in bangladesh in not that really good . They struggle a lot financially as they don't get what they deserve . They work really hard to harvest . The becomes the victim of syndicate where they sell at low price where they should have get more .</p></div>
    </div>
    

    <footer>
        <p>Author: Hege Refsnes<br>
        <a href="mailto:hege@example.com">hege@example.com</a></p>
    </footer>

</body>



</html>