<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/order.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="logo.png">
            </div>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Products store</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </header>
    
    
    <div class="heading">
        <h1>Order Details</h1>
    </div>    
    
        <h2>Checkout Information:</h2>
        <div class="form-info">
            <form action="" method="POST">
                <label for="name">Enter your Name:</label> 
                <input type="text" name="name" id="name"><br>
                <label for="Email-id">Enter your Email:</label>
                <input type="text" name="Email" id ="Email-id"><br>
                <label for="phone-no">Contact Number:</label>
                <input type="text" name="phone-no" id ="phone-no"><br>
                <label for="Address">Address:</label>
                <input type="text" name="Address" id ="Address"><br>
                <label for="City">City:</label>
                <input type="text" name="City" id ="city"><br>
                <label for="Postal-Code">Post Code:</label>
                <input type="text" name="Post Code" id ="Postal-Code"><br>
                <input type="button" value = "Confirm Order">
            </form>
        </div>


    </div>
</body>
</html>