*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../picture.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25 px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(23, 184, 84);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6 ease;
    font-weight: bold;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000; 
}

.logo img{
    float: left;
    width: 100px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title p{
    
    color: rgba(255, 255, 255, 0.507);
    font-size: 20px;
    
}